extends layout 


block layout-content 
  .View 
    h1.Banner 
    .Message 
      .Title
        h3 Testing some 
        h1 stuff out
      span.Details 
    .Navbuttons 
      a(href="/user")
        .NavButton Just test it! 